body {
    background-color:#f0b432fb;
}


#interface {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}

.parts {
    display: flex;
    border-top: 1px solid black;
    width: 390px;
    height: 65px;
}

.parts-section {
    border: 3px solid black;
    outline: 20px ridge silver;
    border-radius: 10px;
}


button {
    flex: 1 1 0;
    border: none;
    font-size: 1.6em;
    font-weight: bold;
    color: black;
    background-color: #dacdcd;
    transition: ease-out 0.2s, transform 0.1s
}

button:active {
    background-color: #ccc;
    transform: scale(0.95);
}

input {   
    height: 65px;
    width : 385px;
    font-size: 1.6rem;
    background-color: rgb(128, 233, 128);
    text-align: right;
    border: none;
}

.screen {
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    outline: 20px ridge silver;
    border-radius: 10px;
}

button[class="equal"] {
    background-color: rgb(124, 99, 233); 
}

button[class="power"] {
    background-color: rgb(255, 73, 17); 
}

button[class="point"] {
    background-color: rgb(238, 241, 19); 
}

button[class="clear"] {
    background-color: rgba(238, 14, 14, 0.973); 
}

button[class="delete"] {
    background-color: rgb(197, 162, 46); 
}


@media (max-width:480px) {
    input {
        width: 310px;
    }

    .screen {
        outline: 15px ridge silver;
    }

    .parts {
        width: 315px;
    }

    .parts-section {
        outline: 15px ridge silver;
    }

    button {
        font-size: 1.5rem;
    }
}